.product{
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.product-wrapper{
    margin: 4px;
    padding: 4px;
    border-bottom: 1px solid green;
}

.right-component{
    padding-left: 10px;
}