.product{
    display: inline-block;
    display: grid;
    grid-template-columns: 250px 5fr;
}

@media (max-width: 480px) {
    .product{
        /* display: block; */
        grid-template-columns: 100px 5fr;
        /* grid-template-rows: 400px 1fr; */
    }

    .laptopImage{
        max-width: 100px;
        max-height: 100px;
    }

    .card-actions {
        display: grid !important;
    }
    
}

.product-wrapper{
    margin: 14px;
    border: 1px solid rgb(232, 233, 232);
}


.right-component{
    padding: 10px;
}

.header{
    font-size: 24px;
    margin: 0px;
    margin-bottom: 8px;
}

.product-chips > div{
    margin: 4px;
}

.product-features-list > li {
    margin: 0px;
    padding: 6px;
}

.product-features-list{
    list-style: none;
    padding: 0px;
}

.material-button{
    position: static !important;
}

.add-cart{
    background: #00bbd3 !important;
}

.laptopImage{
    width: 100%;
    height: 100%;
}

.left-component{
    background: white;
    text-align: center;
}


.view-more{
    /* color: #00bfd7 !important;; */
}