.selected{
    background: white;
    color: #00bfd7 !important;
}

.NavigationComponent a {
    text-decoration: none;
    margin: 4px;
    margin-left: 0px;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    color: white;
}